{% extends 'layout/layout.twig' %}

{% block title %}Administration{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">
    <input id="menu-radio3" class="menu-radio3" type="radio" name="menu">
    <input id="menu-radio4" class="menu-radio4" type="radio" name="menu">

    <nav class="menu">
        <label class="button-red" for="menu-radio1" title="Show the Classes">
            <i class="far fa-file-code color-red-into"></i>
            <span class="color-red-into">Class</span>
        </label>
        <label class="button-green" for="menu-radio2" title="Show the Properties">
            <i class="fas fa-atom color-green-into"></i>
            <span class="color-green-into">Property</span>
        </label>
        <label class="button-blue" for="menu-radio3" title="Show the Methods">
            <i class="fas fa-redo-alt color-blue-into"></i>
            <span class="color-blue-into">Method</span>
        </label>
        <label class="button-purple" for="menu-radio4" title="Show the Users">
            <i class="far fa-user color-purple-into"></i>
            <span class="color-purple-into">User</span>
        </label>
    </nav>

    <main id="admin" class="menu-relay">
        {{ include('admin/adminClass.twig') }}
        {{ include('admin/adminProperty.twig') }}
        {{ include('admin/adminMethod.twig') }}
        {{ include('admin/adminUser.twig') }}
    </main>
{% endblock %}