{% extends 'layout/layout.twig' %}

{% block title %}Create a New Property{% endblock %}

{% block description %}{% endblock %}

{% block main %}
    <main class="align-center">
        <form class="form" method="post" action={{ url('property!create') }}>
            <fieldset>
                <legend>
                    <i class="fas fa-atom fa-2x"></i>
                </legend>
                <ul>
                    <li>
                        <label for="property">Name*</label>
                        <input id="property" name="property" type="text" maxlength="20" required placeholder="Type the Property Name">
                    </li>
                    <li>
                        <label for="visibility">Visibility</label>
                        <input id="visibility" name="visibility" maxlength="10" type="text" placeholder="Type the Property Visibility" required>
                    </li>
                    <li>
                        <label for="valor">Value*</label>
                        <input id="valor" name="valor" type="text" maxlength="40" placeholder="Type the Property Value">
                    </li>
                    <li>
                        <label for="constant">Constant</label>
                        <input id="constant" name="constant" type="checkbox">
                    </li>
                    <li>
                        <label for="static">Static</label>
                        <input id="static" name="static" type="checkbox">
                    </li>
                    <li>
                        <label for="class_id">Class*</label>
                        <select id="class_id" name="class_id">
                            {% for class in classes %}
                                <option value="{{ class.id }}">{{ class.class }}</option>
                            {% endfor %}
                        </select>
                    </li>
                </ul>
                <ul>
                    <li>
                        <input type="reset" value="Reset">
                        <input type="submit" value="Create">
                    </li>
                </ul>
            </fieldset>
        </form>
        <a class="btn-black btn-lg" href="{{ url('admin') }}">Quit</a>
    </main>
{% endblock %}
