:root {
  --sans-serif: 'Text Me One', sans-serif;
  --serif: 'Cinzel', serif;
  --monospace: 'Share Tech Mono', monospace;
}

body {
  --body-background-color: lavender;
}

.navbar {
  --navbar-background-color: var(--blue-dark);
}
