@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Rufina&family=Source+Code+Pro&display=swap");

:root {
  --sans-serif: 'Gotu', sans-serif;
  --serif: 'Rufina', serif;
  --monospace: 'Source Code Pro', monospace;

  --primary: rgb(88, 89, 91);
  --primary-dark: rgba(88, 89, 91, var(--opacity-dark));
  --primary-light: rgba(88, 89, 91, var(--opacity-light));
  --secondary: rgb(252, 164, 96);
  --secondary-dark: rgba(252, 164, 96, var(--opacity-dark));
  --secondary-light: rgba(252, 164, 96, var(--opacity-light));

  --grow: scale(0.7, 0.7);
  --shrink: scale(1.2, 1.2);
}

h4,
h5,
h6 {
  --title-color: var(--primary);
}

.sidebar {
  --sidebar-child-color: var(--secondary);
  --sidebar-child-hover-background-color: var(--secondary-dark);
}

.menu-target4 .sidebar {
  --sidebar-child-margin: 2px;
  --sidebar-child-padding: 3px;
}

.menu {
  --menu-child-background-color: var(--secondary-dark);
  --menu-checked-child-color: var(--secondary);
  --menu-child-hover-color: var(--secondary);
}

.table {
  --table-cell-word-break: break-all;
}
