@import url("https://fonts.googleapis.com/css2?family=Gotu&family=Rufina&family=Source+Code+Pro&display=swap");

:root {
  --sans-serif: 'Gotu', sans-serif;
  --serif: 'Rufina', serif;
  --monospace: 'Source Code Pro', monospace;

  --primary: rgb(88, 89, 91);
  --primary-dark: rgba(88, 89, 91, var(--opacity-dark));
  --primary-light: rgba(88, 89, 91, var(--opacity-light));
  --secondary: rgb(240, 121, 56);
  --secondary-dark: rgba(240, 121, 56, var(--opacity-dark));
  --secondary-light: rgba(240, 121, 56, var(--opacity-light));

  --grow: scale(0.7, 0.7);
  --shrink: scale(1.2, 1.2);
}

body {
  --body-background-color: var(--primary-light);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-color: var(--primary);
}

.navbar {
  --navbar-background-color: var(--primary-dark);
  --navbar-link-hover-color: var(--secondary);
}

.head {
  --head-border: double thick var(--secondary);
  --head-color: var(--primary);
}

.sidebar {
  --sidebar-child-color: var(--secondary);
  --sidebar-child-hover-background-color: var(--secondary-dark);
}

.menu-target4 .sidebar {
  --sidebar-child-margin: 2px;
  --sidebar-child-padding: 4px;
}

.menu {
  --menu-child-background-color: var(--secondary-dark);
  --menu-checked-child-color: var(--secondary);
  --menu-child-hover-color: var(--secondary);
}

.table {
  --table-odd-hover-background-color: var(--secondary-light);
  --table-even-hover-background-color: var(--secondary-light);
  --table-odd-hover-color: var(--black);
  --table-even-hover-color: var(--black);
}

.form {
  --form-border: thick outset var(--secondary);
  --form-field-border: medium outset var(--secondary);
  --form-field-placeholder-color: var(--secondary);
  --form-field-hover-border: medium inset var(--primary);
}

.foot {
  --foot-list-background-color: var(--primary);
  --foot-title-color: var(--secondary);
  --foot-list-hover-color: var(--secondary);
  --foot-label-hover-color: var(--orange);
}
