<h2 class="anima-grow-this">
    <i class="fas fa-download fa-lg color-black"></i> 
    Installation
</h2>

<header class="head">
    There is many ways to install Pam, choose one of them...
</header>

<i class="fas fa-chevron-down fa-2x mar-top-lg" 
    aria-hidden="true"></i>

<section class="anima-slideR-this">
    <h3>
        <i class="fab fa-php fa-lg color-blue"></i> 
        Composer
    </h3>

    <p>To get Pam with Composer (recommended), type in the terminal :</p>
    <code>$ composer require devsagency/pam</code>
</section>

<i class="fas fa-sort fa-2x mar-top-lg" 
    aria-hidden="true"></i>

<section class="anima-slideL-this">
    <h3>
        <i class="fab fa-git-alt fa-lg color-red"></i> 
        Git Clone
    </h3>

    <p>To clone the project with Git, run the terminal to type :</p>
    <code>$ git clone https://github.com/devsagency/pam.git</code>
</section>

<i class="fas fa-sort fa-2x mar-top-lg" 
    aria-hidden="true"></i>

<section class="anima-slideR-this">
    <h3>
        <i class="fab fa-github fa-lg color-gh"></i> 
        GitHub Release
    </h3>

    <p>To download the last release, go to the GitHub release page of Pam :</p>
    <a class="button-gh" 
        href="https://github.com/devsagency/pam/releases" 
        title="Clic to Go to the Pam Release Page">
        <i class="fab fa-github-square fa-lg"></i> 
        Release Page
    </a>
</section>

<i class="fas fa-sort fa-2x mar-top-lg" 
    aria-hidden="true"></i>

<section class="anima-slideL-this">
    <h3>
        <i class="fab fa-github-alt fa-lg color-gh"></i> 
        GitHub Archive
    </h3>

    <p>You can either download the Pam master of GitHub Archive here :</p>
    <a class="button-gh" 
        href="https://github.com/devsagency/pam/archive/master.zip" 
        title="Clic to Download Pam">
        <i class="fas fa-file-archive fa-lg"></i> 
        Master Zip
    </a>
</section>
