<section id="usage-controller">
    <h3>
        <i class="fas fa-server fa-lg"></i> 
        Controller
    </h3>

    <header class="head">
        <p>For the Controller naming, you need to use the same name than each access value inside the URL of the website...</p>
        <p>You can choose, the Controller path, the Controller default name & the Controller suffix in the parameters.</p>
        <p>Same thing for the Contoller Method default name & the Controller Method suffix.</p>
        <p>For example (without any changes to the Controller constants),
            if you watch the URL of this page, the access value is "start", so we have a controller named StartController.php</p>
    </header>

    <i class="fas fa-minus fa-lg mar-top-md" 
        aria-hidden="true"></i>

    <ul>
        <li>
            <p>To use the Pam Controller Methods, simply add this use to each of your controllers :</p>
            <code>use Pam\Controller\MainController;</code>
        </li>
        <li>
            <p>Then you can extends the class to the MainController :</p>
            <code>extends MainController</code>
        </li>
        <li>
            <p class="color-secondary font-bold">
                Now you can access to all methods of the Pam Contollers !
            </p>
            <a class="button-secondary"
                href="https://github.com/devsagency/pam.net/tree/master/src/Controller/StartController.php"
                title="See the Code">
                Simple Controller Example
            </a>
        </li>
    </ul>

    <i class="fas fa-minus fa-lg mar-top-md" 
        aria-hidden="true"></i>

    <ul>
        <li>
            <p>To get the MainController Methods, simply use "this", then the method :</p>
            <code>$this->redirect('home');</code>
        </li>
        <li>
            <p>For Services & SuperGlobales Methods, same thing, but add the getter, for the Class you need, between them :</p>
            <code>$this->getPost()->getPostArray();</code>
        </li>
        <li>
            <p class="color-secondary font-bold">
                Now you know the 2 kinds of syntax to call all of Pam's Controller methods !
            </p>
            <a class="button-secondary"
                href="https://github.com/devsagency/pam.net/tree/master/src/Controller/UserController.php"
                title="See the Code">
                Controller Example with Different Methods Called
            </a>
        </li>
    </ul>
</section>
