{% extends 'layout/layout.twig' %}

{% block title %}Create a New Class{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('class!create') }}>
        <fieldset>
            <legend>
                <i class="fas fa-file-code fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="class">
                        Name
                    </label>
                    <input id="class" 
                        name="class" 
                        type="text" 
                        maxlength="20" 
                        placeholder="Type the Class Name"
                        required>
                </li>
                <li>
                    <label for="path">
                        Path
                    </label>
                    <input id="path" 
                        name="path" 
                        maxlength="20" 
                        type="text" 
                        placeholder="Type the Class Path" 
                        required>
                </li>
                <li>
                    <label for="parameters">
                        Parameters
                    </label>
                    <input id="parameters" 
                        name="parameters" 
                        maxlength="30" 
                        type="text" 
                        placeholder="This Class has Parameters ?">
                </li>
                <li>
                    <label for="abstract">
                        Abstract
                    </label>
                    <input name="abstract"
                        type="hidden"
                        value="0">
                    <input id="abstract" 
                        name="abstract" 
                        type="checkbox"
                        value="1">
                </li>
                <li>
                    <label for="extends">
                        Extends
                    </label>
                    <input id="extends" 
                        name="extends" 
                        type="text" 
                        maxlength="20" 
                        placeholder="This Class Extends ?">
                </li>
                <li>
                    <label for="definition">
                        Definition
                    </label>
                    <textarea id="definition" 
                        name="definition" 
                        rows="7" 
                        maxlength="255" 
                        placeholder="Type the Class Definition" 
                        required></textarea>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" 
                        value="Reset">
                    <input type="submit" 
                        value="Create">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('admin') }}">
        Quit
    </a>
</main>
{% endblock %}
