{% extends 'layout/layout.twig' %}

{% block title %}Create a New Property{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('property!create') }}>
        <fieldset>
            <legend>
                <i class="fas fa-atom fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="property">
                        Name
                    </label>
                    <input id="property" 
                        name="property" 
                        type="text" 
                        maxlength="20" 
                        placeholder="Type the Name"
                        required>
                </li>
                <li>
                    <label for="visibility">
                        Visibility
                    </label>
                    <input name="visibility"
                        type="hidden"
                        value="public">
                    <select id="visibility"
                        name="visibility"
                        required>
                        <option value="">
                            Choose the Visibility
                        </option>
                        <option value="public">
                            public
                        </option>
                        <option value="public">
                            protected
                        </option>
                        <option value="public">
                            private
                        </option>
                    </select>
                </li>
                <li>
                    <label for="value_type">
                        Value Type
                    </label>
                    <input id="value_type" 
                        name="value_type" 
                        type="text" 
                        maxlength="40" 
                        placeholder="Type the Value Type"
                        required>
                </li>
                <li>
                    <label for="static">
                        Static
                    </label>
                    <input name="static"
                        type="hidden"
                        value="0">
                    <input id="static" 
                        name="static" 
                        type="checkbox"
                        value="1">
                </li>
                <li>
                    <label for="class_id">
                        Class
                    </label>
                    <select id="class_id" 
                        name="class_id"
                        required>
                        <option value="">
                            Choose the Linked Class
                        </option>

                        {% for class in classes %}
                            <option value="{{ class.id }}">
                                {{ class.class }}
                            </option>
                        {% endfor %}

                    </select>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" 
                        value="Reset">
                    <input type="submit" 
                        value="Create">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('admin') }}">
        Quit
    </a>
</main>
{% endblock %}
