{% extends 'layout/layout.twig' %}

{% block title %}Create a New Method{% endblock %}

{% block description %}{% endblock %}

{% block main %}
<main>
    <form class="form" 
        method="post" 
        action={{ url('method!create') }}>
        <fieldset>
            <legend>
                <i class="fas fa-redo fa-2x"></i>
            </legend>
            <ul>
                <li>
                    <label for="method">
                        Name
                    </label>
                    <input id="method" 
                        name="method" 
                        type="text" 
                        maxlength="20" 
                        placeholder="Type the Name"
                        required>
                </li>
                <li>
                    <label for="visibility">
                        Visibility
                    </label>
                    <select id="visibility"
                        name="visibility"
                        required>
                        <option value="">
                            Choose the Visibility
                        </option>
                        <option value="public">
                            public
                        </option>
                        <option value="public">
                            protected
                        </option>
                        <option value="public">
                            private
                        </option>
                    </select>
                </li>
                <li>
                    <label for="parameters">
                        Parameters
                    </label>
                    <input id="parameters" 
                        name="parameters" 
                        maxlength="10" 
                        type="text" 
                        placeholder="Type the Parameters ?">
                </li>
                <li>
                    <label for="return">
                        Return
                    </label>
                    <input id="return" 
                        name="return" 
                        type="text" 
                        maxlength="40" 
                        placeholder="Type the Return Value ?">
                </li>
                <li>
                    <label for="static">
                        Static
                    </label>
                    <input name="static"
                        type="hidden"
                        value="0">
                    <input id="static" 
                        name="static" 
                        type="checkbox"
                        value="1">
                </li>
                <li>
                    <label for="class_id">
                        Class
                    </label>
                    <select id="class_id" 
                        name="class_id"
                        required>
                        <option value="">
                            Choose the Linked Class
                        </option>

                        {% for class in classes %}
                        <option value="{{ class.id }}">
                            {{ class.class }}
                        </option>
                        {% endfor %}

                    </select>
                </li>
                <li>
                    <label for="function">
                        Function
                    </label>
                    <textarea id="function" 
                        name="function" 
                        rows="7" 
                        maxlength="255" 
                        placeholder="Type the Function" 
                        required></textarea>
                </li>
            </ul>
            <ul>
                <li>
                    <input type="reset" 
                        value="Reset">
                    <input type="submit" 
                        value="Create">
                </li>
            </ul>
        </fieldset>
    </form>
    <a class="btn-black btn-lg" 
        href="{{ url('admin') }}">
        Quit
    </a>
</main>
{% endblock %}
