{% extends 'layout/layout.twig' %}

{% block title %}Pam{% endblock %}

{% block description %}Homepage of Pam{% endblock %}

{% block main %}
    <main>
        <h2>Welcome !</h2>

    </main>
{% endblock %}
