{% extends 'layout/layout.twig' %}

{% block title %}Getting Start{% endblock %}

{% block description %}Getting Start of Pam{% endblock %}

{% block main %}
    <main>
        <h2>Get Start !</h2>

    </main>
{% endblock %}
