{% extends 'layout/layout.twig' %}

{% block title %}Getting Start{% endblock %}

{% block description %}Installation & Usage{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu" 
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label for="menu-radio1" 
        title="Watch the Installation Process">
        <i class="fas fa-download"></i>
        <span>
            Installation
        </span>
    </label>
    <label for="menu-radio2" 
        title="Watch the Common Usage">
        <i class="far fa-keyboard"></i>
        <span>
            Usage
        </span>
    </label>
</nav>

<main class="menu-relay container-90tn">

    {{ include('front/start/installation.twig') }}
    {{ include('front/start/usage.twig') }}

</main>
{% endblock %}
