{% extends 'layout/layout.twig' %}

{% block title %}Getting Start{% endblock %}

{% block description %}Getting Start with Pam{% endblock %}

{% block main %}
    <input id="menu-radio1" class="menu-radio1" type="radio" name="menu" checked>
    <input id="menu-radio2" class="menu-radio2" type="radio" name="menu">

    <nav class="menu">
        <label class="button-red btn-lg" for="menu-radio1" title="Watch the Installation Process">
            <i class="fas fa-download fa-lg"></i> Installation
        </label>
        <label class="button-green btn-lg" for="menu-radio2" title="Watch the Common Usage">
            <i class="far fa-keyboard fa-lg"></i> Usage
        </label>
    </nav>

    <main class="menu-relay container-80md-60wd">

        {{ include('start/installation.twig') }}
        {{ include('start/usage.twig') }}
    </main>
{% endblock %}
