<article class="menu-target2">
    <h2>Usage</h2>

    <header>Pam is very easy to use & very light to implement !</header>

    <section>
        <h3>Parameters</h3>

        <p></p>
        <code></code>
        <a></a>
    </section>

    <section>
        <h3>Index</h3>

        <p></p>
        <code></code>
        <a></a>
    </section>

    <section>
        <h3>Model</h3>

        <p></p>
        <code></code>
        <a></a>
    </section>

    <section>
        <h3>View</h3>

        <p></p>
        <code></code>
        <a></a>
    </section>

    <section>
        <h3>Controller</h3>

        <p></p>
        <code></code>
        <a></a>
    </section>
</article>
