{% extends 'layout/layout.twig' %}

{% block title %}Pam{% endblock %}

{% block description %}Getting Start & Documentation{% endblock %}

{% block main %}
<main>
    <figure class="anima-slideB-this">
        <img src="img/pam.webp" 
            alt="Pam Logo"
            width="150"
            height="240">
    </figure>

    <h2 class="anima-grow-sm-this">
        PHP Adaptive Microframework
    </h2>

    <a class="btn-primary anima-slideT-tn-this" 
        href="{{ url('start') }}">
        <i class="fas fa-play fa-2x"></i> 
        Getting Start
    </a>
    <a class="btn-primary anima-slideT-tn-this" 
        href="{{ url('usage') }}">
        <i class="fas fa-keyboard fa-2x"></i> 
        Common Usage
    </a>
    <a class="btn-primary anima-slideT-tn-this" 
        href="{{ url('doc') }}">
        <i class="fas fa-book fa-2x"></i> 
        Documentation
    </a>

    <header class="head">
        Pam is a Programming Tool wrote in PHP 
        who help you to build Websites.
        <br>
        This project is Open-source, 
        so you can get all the source code on GitHub...
        <br>
        Installation process, 
        common Usage & full Documentation are available here !
    </header>

</main>
{% endblock %}
