{% extends 'layout/layout.twig' %}

{% block title %}Getting Start{% endblock %}

{% block description %}Installation & Usage{% endblock %}

{% block main %}
<input id="menu-radio1" 
    class="menu-radio1" 
    type="radio" 
    name="menu" 
    checked>
<input id="menu-radio2" 
    class="menu-radio2" 
    type="radio" 
    name="menu">

<nav class="menu">
    <label class="button-red" 
        for="menu-radio1" 
        title="Watch the Installation Process">
        <i class="fas fa-download onto-color-red"></i>
        <span class="onto-color-red">
            Installation
        </span>
    </label>
    <label class="button-blue" 
        for="menu-radio2" 
        title="Watch the Common Usage">
        <i class="far fa-keyboard onto-color-blue"></i>
        <span class="onto-color-blue">
            Usage
        </span>
    </label>
</nav>

<main class="menu-relay container-90tn">
    <article class="menu-target1">

        {{ include('front/include/installation.twig') }}

    </article>

    <article class="menu-target2">

        {{ include('front/include/usage.twig') }}

    </article>
</main>
{% endblock %}
