{% extends 'layout/layout.twig' %}

{% block title %}Getting Start{% endblock %}

{% block description %}Installation of Pam, the Php Adaptive Microframework{% endblock %}

{% block main %}
<main  id="start-home"
    class="container-90tn">

    <h2 class="anima-shrink-this">
        <i class="fas fa-download fa-lg"></i> 
        Installation
    </h2>

    <header class="head">
        There is many ways to install Pam, choose one of them...
    </header>

    <nav class="sidebar">
        <a href="#start-home" 
            title="Installation Home">
            <i class="fas fa-chevron-circle-up fa-lg fa-fw"></i>
        </a>
        <a href="#start-composer" 
            title="Installation Composer">
            <i class="fab fa-php fa-lg fa-fw"></i>
        </a>
        <a href="#start-clone" 
            title="Installation Git Clone">
            <i class="fab fa-git-alt fa-lg fa-fw"></i>
        </a>
        <a href="#start-release" 
            title="Installation GitHub Release">
            <i class="fab fa-github fa-lg fa-fw"></i>
        </a>
        <a href="#start-archive" 
            title="Installation GitHub Archive">
            <i class="fab fa-github-alt fa-lg fa-fw"></i>
        </a>
    </nav>

    <i class="fas fa-chevron-down fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    <section id="start-composer">
        <h3 class="color-blue">
            <i class="fab fa-php fa-lg"></i> 
            Composer
        </h3>

        <p>To get Pam with Composer (recommended), type in the terminal :</p>
        <code>$ composer require devsagency/pam</code>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    <section id="start-clone">
        <h3 class="color-red">
            <i class="fab fa-git-alt fa-lg"></i> 
            Git Clone
        </h3>

        <p>To clone the project with Git, run the terminal to type :</p>
        <code>$ git clone https://github.com/devsagency/pam.git</code>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    <section id="start-release">
        <h3 class="color-gh">
            <i class="fab fa-github fa-lg"></i> 
            GitHub Release
        </h3>

        <p>To download the last release, go to the GitHub release page of Pam :</p>
        <a class="button-gh" 
            href="https://github.com/devsagency/pam/releases" 
            title="Clic to Go to the Pam Release Page">
            <i class="fab fa-github-square fa-lg"></i> 
            Release Page
        </a>
    </section>

    <i class="fas fa-sort fa-2x mar-top-lg" 
        aria-hidden="true"></i>

    <section id="start-archive">
        <h3 class="color-gh">
            <i class="fab fa-github-alt fa-lg"></i> 
            GitHub Archive
        </h3>

        <p>You can either download the Pam master of GitHub Archive here :</p>
        <a class="button-gh" 
            href="https://github.com/devsagency/pam/archive/master.zip" 
            title="Clic to Download Pam">
            <i class="fas fa-file-archive fa-lg"></i> 
            Master Zip
        </a>
    </section>
</main>
{% endblock %}
