<section id="usage-view">
    <h3>
        <i class="fas fa-desktop fa-lg"></i> 
        View
    </h3>

    <header class="head">
        <p>For the views, Pam use Twig, the Template Engine of Symfony</p>
        <p>The only configuration to manage is the 2 View constants in the parameters files</p>
        <p>One is for the View template path & the second for the View cache path...</p>
        <p>For the Twig functions, filters & tags, please refer to the
            <a class="button-primary"
                href="https://twig.symfony.com/doc/2.x"
                title="See the Doc">
                official documentation
            </a>
        </p>
    </header>

    <i class="fas fa-minus fa-lg mar-top-md" 
        aria-hidden="true"></i>

    <ul>
        <li>
            <p>Here you can find a Layout example :</p>
            <a class="button-secondary"
                href="https://github.com/philippebeck/pam.net/tree/master/src/View/layout/layout.twig"
                title="See the Code">
                Layout View Example
            </a>
        </li>
        <li>
            <p>And here a simple view example :</p>
            <a class="button-secondary"
                href="https://github.com/philippebeck/pam.net/tree/master/src/View/home.twig"
                title="See the Code">
                Simple View Example
            </a>
        </li>
    </ul>
</section>
